<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Travel Planner App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="header">
      <nav class="navbar">
        <h1 class="navbar-header">Travel Planner App</h1>
        <ul class="navbar-menu">
            <li class="navbar-list"><a class="nav-link" href="#about">About</a></li>
            <li class="navbar-list"><a class="nav-link" href="planner">Go for a trip</a></li>
        </ul>
      </nav>
  </header>

  <script src="app.js" type="text/javascript"></script>

</body>
</html>